@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100vw;
}
a{
    display: block;
    text-align: center;
    background-color: firebrick;
    color: wheat;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    background-color: #d54848;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}